.app-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.layout-body {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.layout-content {
  flex: 1;
  padding: 24px;
  overflow-y: auto;
  background-color: #f6f8fa;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.router-container {
  flex: 1 0 auto;
}


.auth-layout {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f8fa;
}
